.outer-box{
    height: 100vh;
    width: 100vw;
}
.video-container{
    height: 85vh;
    width: 95vw;
    position: relative;
    margin: auto;
}
.my-video-container{
    position: inherit;
    left: 74%;
    top:1%;
    transition: left 1s;
}
.my-video{
    position: relative;
    z-index: 1;
    width: 25%;
    height: auto;
    border: 0.1px solid black;
    transform: rotateY(180deg);
}
.my-name {
    padding: 5px;
    background-color: black;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.partner-video-container{
    position: inherit;
    background-color: black;
    bottom: 28%;
    min-height: 75vh;
    max-height: 75vh;
    max-width: 65vw;
}
.caller-video{
    display: block;
    height: 75vh;
    max-width: 70vw;
    margin: auto;
    z-index: 0;
    object-fit: cover;
}
.video-grid{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    border: 2px solid blue;
}



.control-panel{
    width: 100%;
    align-items: center;
    background-color: slateblue;
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    align-items: center;
}

.message-toggle{
    width: 60px;
    background: none;
    border: none;
    padding: 10px;
    color: black;
}

.mic-icon{
    color: black;
}

.cam-icon{
    color: black;
}

.share-code-button{
    border: 0.2px solid purple;
    margin: auto;
    background-color: rgba(143,144,238,280);
    color: white;
    padding: 10px;
    width: 200px;
    border-radius: 5px;
    font-weight: 600;
}
.share-code-button:hover{
    background-color: rgba(143,144,220,280);
}

.caller-name{
    position: absolute;
    top: 0;
    left:0;
    z-index: 1;
    padding: 20px;
    background-color: black;
    color: white;
}
.join-alert{
    background-color: slateblue;
    padding: 10px;
}

.alt-image-vid-off{
    z-index: 1;
    background-color: black;
    margin: auto;
    width: 830px;
    height: 40px;
    align-items: center;
    justify-content: center;
}
.alt-image-off{
    position: absolute;
    left: 43%;
    top: 30%;
    border: block 4px white;
    z-index: 0;
}

.default-message{
    position: absolute;
    left: 35%;
    top:38%;
    font-size: 60px;
}

.chat-window{
    height: 73vh;
    width: 25vw;
    background-color: black;
    position: absolute;
    right: 0;
    top: 1%;
    color: white;
    font-size: small;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px;
}

.msg{
    overflow-wrap:break-word;
    font-weight: 500;
}

.msg-box{
    color: white;
    position: absolute;
    top: 73vh;
    right: 0;
    width: 25vw;
}

.msg-container{
    position: fixed;
    right: -60vw;
    top: 1vh;
    transition: right 1s;
}
.messageCard{
    padding: 8px;
    font-size: 15px;

}
.senderDetails{
    font-weight: 600;
    line-height: 0.1px;
}

.senderDetailsSelf{
    color: aqua;
}

.senderDetailsOther{
    color:brown;
}

.message-send-button{
    background: white;
    border: none;
}


::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: darkgray;
}

::-webkit-scrollbar-thumb{
    background: grey;
}

::-webkit-scrollbar-thumb:hover{
    background: whitesmoke;
}