body{
    background-image: linear-gradient(45deg, rgba(181,184,249,255), rgba(190,194,238,255));
    overflow-x: hidden;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.out-div{
    height: auto;
    width: auto;
    background-color:white;
    border-radius:1% 1% 100% 1%;
    position: absolute;
    right: 0;
    left: 0;
}

.signUp, .form{
    color: white;
    border: none;
    border-width: 0.2px;
    background-color: rgba(143,144,238,280);    
    padding: 2%;
    font-weight: 550;    
}

.signUp{
    margin: auto;
    margin-top:2.5%;
    width: 500px;
    height: 530px;
}

.signup-btn{
    background-color:rgb(10, 152, 207);
    border: none;
    border-radius: 6px;
    padding :10px;
    width: auto;
    font-size: 18px;
    color: white;
    font-weight: 500;
    font-family: 'Arial';
}

.signup-btn:hover{
    background-color:rgb(5, 116, 160);
}

.form{
    width: 500px;
    height: 400px;
    margin: auto;
}

.signUpContent,.form-content{
    padding: 8px;
    align-items: center;
}

.form-content{
    padding: 30px;
}
.line-text {
	display: flex;
	flex-basis: 100%;
	align-items: center;
	margin: auto;
}
.line-text::before,
.line-text::after {
	content: "";
	flex-grow: 1;
	background: rgba(0, 0, 0, 0.35);
	height: 1px;
	margin: 0px 8px;
    padding: 1px;
    margin-top: 5px;
}

.options-box{
    margin: auto;
    font-weight: 480;
}
